/* https://codebeautify.org/minify-css */

.block-editor .acf-block-fields.acf-block-fields--inited {
    display: flex;
    flex-direction: column;
    height: 48px;
    overflow: hidden;
}

.block-editor .acf-block-fields.acf-block-fields--active {
    height: auto !important;
}

.block-editor .acf-block-fields > * {
    order: 2;
}

.block-editor .acf-block-fields > .acf-block-title {
    order: 1 !important;
    padding: 0 20px;
    background: rgb(61, 121, 151);
    color: white;
    display: flex;
    justify-content: space-between;
    transition: all ease .3s;
}

.block-editor .acf-block-fields > .acf-block-title:hover {
    cursor: pointer;
    opacity: .7;
}

/*
.block-editor [class*="wp-block-acf-"] {
     max-width: 1000 px !important;
}
*/

.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after {
    box-shadow: none !important;
}

.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus .acf-block-fields {
    border-color: rgb(61, 121, 151);
}